@import "tailwindcss";
/* #fe653d: cam
#022753: xanh
#818181: completed text
#302b70: tím */
:root {
  --color-primary: #fe653d;
  --color-title: #022753;
  --color-completed: #818181;
  --color-bg: #302b70;
}

.bg-custom-gradient {
  background-image: linear-gradient(
    to right bottom,
    #0e0771,
    #1d1578,
    #29207e,
    #332b85,
    #3d368b
  );
}
